body
{
    background-color: black;
    
}

.titulo
{
    width: 422px;
    color: white;
    text-align: center;
    font-size: 32px;
    border-style: dotted;
    border-color: white;
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#n1
{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin-right: 10px;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    background-color: #eee;
    align-items: center;
}

#n2
{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin-left: 10px;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}

button
{
    width: 430px;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    float: center;
}

.containerbtt
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contarinertt
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}